{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Historial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'menu_url' %}">Inicio</a></li>
      </ul>
    </nav>
  </header>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                  <p> {{data.0}}</p>
                  <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Historial, {{data.0}}</h2>
                        
                        {%for dato in data%}
                        <p> {{dato.0}} 
                            {{dato.1}} 
                            {{dato.2}} 
                            {{dato.3}} 
                        </p>

                        {% endfor %}
                        <div class="form-group">
                          <input type="submit" name="submit" id="submit" class="form-submit" value="Pagar"/>
                      </div>
                    </form>
                
                </div>
            </div>
        </section>
    </div>
</body>
</html>