{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container-menu">
                <div class="signup-content">
                    <h2 class="form-title">Bienvenido</h2>
                    <a href="{% url 'prestamo_url' %}" class="square1">
                        <div class="square-text">
                            <span>Presta un Libro</span>
                        </div>
                    </a>
                    <a href="#" class="square2">
                        <div class="square-text">
                            <span>Historial</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>