{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prestramos</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Prestamos de libros</h2>
                        <div class="form-group">
                            <select id="programas-select" class="form-input" name="name" id="name">
                                <option value="">Selecciona un libro</option>
                                {%for libro in libros%}
                                <option>{{ libro}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha">Selecciona una fecha</label>
                            <input type="date" id="fecha"min= "{{ today }}" max =" {{ max_days }} " name="fecha" class="form-input" name="name" id="name" placeholder="Nombre" >
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Prestar Libro"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
