{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

</head>
<body>
    <header>
      </header>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Crear cuenta</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Nombre"/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-input" name="edad" id="edad" min = "0" max ="150" placeholder="Edad"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="dir" id="dir" placeholder="Direccion"/>
                        </div>
                        <div class="form-group">
                            <div class="input-wrapper">
                                <select name="doc_type" id="doc_type" class="form-input">
                                  <option value="TI">TI</option>
                                  <option value="CC">CC</option>
                                </select>
                            </div>
                            <div class="input-wrapper">
                                <input type="number" class="form-input" name="password" id="password" placeholder="Documento"/>
                            </div>          
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        {% csrf_token %}
                        <div class="form-group">
                            <select id="programas-select" class="form-input" name="name" id="name">
                                <option value="">Selecciona un programa</option>
                                {%for data in programas_data%}
                                <option value="{{data.0}}">{{ data.1 }}</option>
                                {% endfor %}
                            </select>
                            <!-- <input type="number" class="form-input" name="Programa" id="Programa" placeholder="Programa"/> -->
                        </div>
                        <div class="form-group">
                            <!-- <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" /> -->
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Al registrarte, aceptas todos los <a href="https://nodos.com.co/legal/terms/" class="term-service" target="_blank">Terminos y condiciones</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Registrarse"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Ya tienes una cuenta? <a href="{% url '' %}" class="loginhere-link">Inicia sesion</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
</body>
</html>

